.centering {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.border {
    border: 2px solid;
    padding: 5%;
}

.card {
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 400%;
}

.match {
    font-family: cursive;
    font-weight: 900;
    font-size: 300%;
}

.buttons {
    display:inline-flexbox;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 25px;
}

.center-title {
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.buttons-postion {
    position: absolute;
    top: 25%;
    left: 2.5%;
}

.grid-container {
    display: grid;
    position: absolute;
    top: 8%;
    left: 35%;
    grid-gap: 50px;
    grid-template-columns: repeat(3,90px);
    grid-template-rows: repeat(3,140px);
    padding: 5px;
}

.grid-item {
    padding:50px 50px;
    text-align: center;
}

.counter-box {
    height: 50px;
    width: 100px;
    border: thick;
    border-style: double;
    border-color: black;
}

.sum-counter-position {
    position: absolute;
    top: 25%;
    left: 95%;
}

.score-counter-position {
    position: absolute;
    top: 50%;
    left: 95%;
}