.centering {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card {
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 400%;
}

.match {
    font-family: cursive;
    font-weight: 900;
    font-size: 300%;
}

.buttons {
    display:inline-flexbox;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 25px;
}
