.centering {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border {
    border: 2px solid;
    padding: 5%;
}

.card {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 400%;
}

.match {
    font-family: cursive;
    font-weight: 900;
    font-size: 300%;
}

.buttons {
    display: inline-flexbox;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 25px;
}

.overall-page-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-number-btn {
    width: 50px;
    height: 30px;
}

.card-number-td {
    padding: 10px;
}

.counter-position {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.center-title {
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.buttons-postion {
    display: flex;
}

.grid-container {
    display: grid;
    width: 500px;
    grid-gap: 30px;
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: column;
    padding: 5px;
}

.image-style {
    width: 115px;
}

.grid-item {
    text-align: center;
}

.counter-box {
    height: 50px;
    width: 100px;
    border: thick;
    border-style: double;
    border-color: black;
}

.sum-counter-position, 
.score-counter-position, 
.live-counter-position {
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 65%;
}

.label-sum,
.label-score,
.label-live {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.center-sum,
.center-score,
.center-lives {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 160%;
    padding: 3% 23%;
}